<div class="container">
<h1>Sign up form</h1>
  <fieldset>

      <form name='signUpCtrl.signUpForm' novalidate>

        <input type="text" name="firstname" placeholder="First name"
          ng-model="signUpCtrl.user.firstname"
          required
          minlength="4"
          ng-maxlength="10">
          <span
          ng-if="(signUpCtrl.signUpForm.firstname.$error.minlength || signUpCtrl.signUpForm.firstname.$error.required)
          && signUpCtrl.signUpForm.firstname.$touched"> First name must be at least 4 characters long
          </span>
          <span
          ng-if="signUpCtrl.signUpForm.firstname.$error.maxlength && signUpCtrl.signUpForm.firstname.$touched">
          First name must not be longer than 10 characters
          </span>

         <br>

          <input type="text" name="secondname" placeholder="Second name"
            ng-model="signUpCtrl.user.secondname"
            required
            minlength="4"
            ng-maxlength="10">
            <span
            ng-if="(signUpCtrl.signUpForm.secondname.$error.minlength || signUpCtrl.signUpForm.secondname.$error.required)
            && signUpCtrl.signUpForm.secondname.$touched"> Second name must be at least 4 characters long
            </span>
            <span
            ng-if="signUpCtrl.signUpForm.secondname.$error.maxlength && signUpCtrl.signUpForm.secondname.$touched">
            Second name must not be longer than 10 characters
            </span>
            <br>

            <input type="email" name="email" placeholder="Email"
              ng-model="signUpCtrl.user.email"
              required>
              <span ng-if="signUpCtrl.signUpForm.email.$invalid && signUpCtrl.signUpForm.email.$touched">
                Must be a valid email address: handle@domain format
              </span>
              <br>

              <input type="text" name="phone" placeholder="Phone ###-###-####"
                ng-model="signUpCtrl.user.phone"
                pattern="(\d{3})-(\d{3})-(\d{4})">
                <span ng-if="signUpCtrl.signUpForm.phone.$invalid && signUpCtrl.signUpForm.phone.$touched">
                  Phone must be in the format ###-###-####.
                </span>
                <br>

                <input type="text" name="menuItem" placeholder="Favorite dish code" ng-change="signUpCtrl.validateMenuItem(this)"
                  ng-model="signUpCtrl.user.menuItem" required>
                  <span ng-if="signUpCtrl.signUpForm.menuItem.$invalid && signUpCtrl.signUpForm.menuItem.$touched">
                    Provide correct dish code
                  </span>
                  <br>

                  <button
                    ng-click="signUpCtrl.submit(signUpCtrl.user)">Submit</button>

      </form>
      <div>{{signUpCtrl.confirmationMessage}}</div>
  </fieldset>
</div>
